.App {
  text-align: center;
  font-family: "Manrope", sans-serif;
  width: 100%;
  height: 100vh;
}

.App-header {
  background: #1f2632;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  color: white;
  margin: 0;
}

.App .container {
  position: relative;
  background: #313a49;
  max-width: 1440px;
  border-radius: 10px;
}

.App .advice-number {
  padding-top: 40px;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #61f7b3;
  font-weight: 800;
}

.App .advice-container {
  position: relative;
  width: 444px;
  padding: 40px;
  padding-top: 25px;
  margin: 0;
}

.App .pattern-divider {
  padding-bottom: 65px;
}

.App .icon-sphere {
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #61f7b3;
  border: none;
  transition: box-shadow 0.3s ease-in-out;
}

.App .icon-sphere:hover {
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgba(82, 255, 168, 0.5);
}

.App .icon-dice-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.App .icon-dice {
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.App .icon-dice:hover {
  cursor: pointer;
  animation: bounce 2.5s ease-in-out;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(5px);
  }

  40% {
    transform: translateY(-8px) rotate(180deg);
  }

  60% {
    transform: translateY(-2px);
  }
}

@media (max-width: 565px) {
  .App .pattern-divider {
    content: url(./images/pattern-divider-mobile.svg);
  }

  .App .advice-container {
    width: 295px;
  }

  .App .icon-dice {
    animation: bounce 2.5s infinite;
  }
}

@media (max-width: 395px) {
  .App .advice-container {
    width: 255px;
  }
}
