.App {
  text-align: center;
}

.App-header {
  background: #1f2632;
  /* position: relative; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: 28px;
  color: white;
}

.App .container {
  position: relative;
  background: #313a49;
  max-width: 1440px;
  border-radius: 10px;
  /* border: 1px solid blue; */
}

.App .advice-number {
  padding-top: 20px;
  margin: 0;
  border: 1px solid white;
}

.App .advice-container {
  position: relative;
  max-width: 444px;
  padding: 40px;
  margin: 0;
  /* border: 1px solid white; */
}

.App .pattern-divider {
  padding-bottom: 50px;
}

/* .App .icon-dice { */
/* position: absolute; */
/* margin: 13px auto; */
/* position: absolute; */
/* margin: 0 auto; */
/* align-items: baseline; */
/* justify-content: center; */
/* background: green; */
/* } */

.App .icon-sphere {
  /* display: block; */
  position: absolute;
  /* align-items: baseline; */
  /* z-index: 2; */
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: #61f7b3;
}

.App .icon-dice-container {
  display: flex;
  /* position: relative; */
  /* z-index: 2; */
  align-items: center;
  justify-content: center;
  width: 100%;
  /* border: 1px solid peru; */
}

.App .icon-dice {
  /* position: absolute; */
  /* display: flex; */
  /* vertical-align: middle; */
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}
